<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" target="_blank" href="http://www.wgstart.com"><i class="fas fa-bars"></i></a>
        </li>
        <!--<li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Home</a>
        </li>-->
        <li class="nav-item d-none d-sm-inline-block" id="headBanner1"> </li>
    </ul>

    <!-- SEARCH FORM
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" style="cursor:pointer;" title="修改密码" onclick="javascript:alert('请在server端application.yml修改');" data-toggle="dropdown">
                <i class="fa fa-user-circle"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" style="cursor:pointer;" title="退出" data-toggle="dropdown" onclick="javascript:window.location.href='/wgcloud/login/loginOut';" >
                <i class="fa fa-window-close"></i>
            </a>
        </li>

    </ul>
</nav>
<!-- /.navbar -->