<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.SysLoadStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.SysLoadState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="ONE_LOAD" property="oneLoad" jdbcType="DOUBLE" />
		<result column="FIVE_LOAD" property="fiveLoad" jdbcType="DOUBLE" />
		<result column="FIFTEEN_LOAD" property="fifteenLoad" jdbcType="DOUBLE" />
		<result column="USERS" property="users" jdbcType="CHAR" />
		<result column="DATE_STR" property="dateStr" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, ONE_LOAD, FIVE_LOAD, FIFTEEN_LOAD,USERS,DATE_STR,CREATE_TIME
	</sql>
	
	<sql id="queryByParams">
		<if test="hostname != null">
			<![CDATA[ AND HOST_NAME = #{hostname} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SYS_LOAD_STATE
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM SYS_LOAD_STATE
		WHERE ID = #{id}
	</delete>
	
	
	<delete id="deleteByAccountAndDate"  parameterType="map">
		DELETE FROM SYS_LOAD_STATE WHERE   <![CDATA[  CREATE_TIME <=#{endTime}]]>
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		SYS_LOAD_STATE
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.SysLoadState">
		INSERT INTO SYS_LOAD_STATE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" > HOST_NAME,</if>
      		<if test="oneLoad != null">ONE_LOAD,</if>
      		<if test="fiveLoad != null" >FIVE_LOAD,</if>
      		<if test="fifteenLoad != null" >FIFTEEN_LOAD,</if>
      		<if test="users != null" >USERS,</if>
      		<if test="dateStr != null" >DATE_STR,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="oneLoad != null" >#{oneLoad},</if>
      		<if test="fiveLoad != null" >#{fiveLoad},</if>
      		<if test="fifteenLoad != null" >#{fifteenLoad},</if>
      		<if test="users != null" >#{users},</if>
      		<if test="dateStr != null" >#{dateStr},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	<insert id="insertList" parameterType="java.util.List" >
	      INSERT INTO SYS_LOAD_STATE (ID,HOST_NAME,ONE_LOAD,FIVE_LOAD,FIFTEEN_LOAD,USERS,DATE_STR,CREATE_TIME)  VALUES
	      <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.hostname},#{item.oneLoad},#{item.fiveLoad},#{item.fifteenLoad},#{item.users},
	        #{item.dateStr},#{item.createTime})  
	      </foreach>
	 </insert>
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SYS_LOAD_STATE t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SYS_LOAD_STATE
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
</mapper>