<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.app.AppInfoDao">
	<resultMap id="resultMap" type="com.entity.app.AppInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="ACCOUNT_ID" property="accountId" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="APP_PID" property="appPid" jdbcType="CHAR" />
		<result column="APP_NAME" property="appName" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,ACCOUNT_ID, ACCOUNT,HOST_NAME, APP_PID,APP_NAME,CREATE_TIME
	</sql>
	
	
	<select id="selectByAccountId" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM APP_INFO 
		WHERE ACCOUNT_ID  = #{accountId}
	</select>
	
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM APP_INFO 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM APP_INFO 
		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		APP_INFO 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.entity.app.AppInfo">
		INSERT INTO APP_INFO 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="accountId != null" >ACCOUNT_ID,</if>
      		<if test="account != null" >ACCOUNT,</if>
      		<if test="hostname != null" >HOST_NAME,</if>
      		<if test="appPid != null">APP_PID,</if>
      		<if test="appName != null">APP_NAME,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="accountId != null" >#{accountId},</if>
      		<if test="account != null" >#{account},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="appPid != null" >#{appPid},</if>
      		<if test="appName != null" >#{appName},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	<update id="updateById" parameterType="com.entity.app.AppInfo">
		UPDATE APP_INFO
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="appPid != null">
				APP_PID = #{appPid},
			</if>
			<if test="appName != null">
				APP_NAME = #{appName},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM APP_INFO t
		<where>
			<if test="accountId != null">
			<![CDATA[ AND ACCOUNT_ID  = #{accountId} ]]>
			</if>
			<if test="account != null">
				<![CDATA[ AND ACCOUNT  = #{account} ]]>
			</if>
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM APP_INFO
		<where>
			<if test="accountId != null">
			<![CDATA[ AND ACCOUNT_ID  = #{accountId} ]]>
			</if>
			<if test="account != null">
				<![CDATA[ AND ACCOUNT  = #{account} ]]>
			</if>
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
	
</mapper>