<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.msg.MsgInfoDao">
	<resultMap id="resultMap" type="com.entity.msg.MsgInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="ACCOUNT_ID" property="accountId" jdbcType="CHAR" />
		<result column="MSG_TITLE" property="msgTitle" jdbcType="CHAR" />
		<result column="ACCEPT_INFO" property="acceptInfo" jdbcType="CHAR" />
		<result column="INFO_CONTENT" property="infoContent" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,ACCOUNT,ACCOUNT_ID,MSG_TITLE, INFO_CONTENT, ACCEPT_INFO,CREATE_TIME
	</sql>
	
	<sql id="queryByParams">
		<if test="account != null">
			<![CDATA[ AND ACCOUNT  = #{account} ]]>
		</if>
		<if test="acceptInfo != null">
			<![CDATA[ AND ACCEPT_INFO LIKE CONCAT('%',#{acceptInfo},'%')]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM MSG_INFO WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM MSG_INFO WHERE ID = #{id}
	</delete>
	
	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM MSG_INFO WHERE <![CDATA[  CREATE_TIME <=#{endTime}]]>
	</delete>
	
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM MSG_INFO WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item} 
		</foreach>
		AND ACCOUNT_ID = #{accountId}
	</delete>

	<insert id="save" parameterType="com.entity.msg.MsgInfo">
		INSERT INTO MSG_INFO
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="account != null" >ACCOUNT,</if>
      		<if test="accountId != null" >ACCOUNT_ID,</if>
      		<if test="acceptInfo != null" > ACCEPT_INFO,</if>
      		<if test="infoContent != null">INFO_CONTENT,</if>
      		<if test="msgTitle != null" >MSG_TITLE,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="account != null" >#{account},</if>
      		<if test="accountId != null" >#{accountId},</if>
      		<if test="acceptInfo != null" >#{acceptInfo},</if>
      		<if test="infoContent != null" >#{infoContent},</if>
      		<if test="msgTitle != null" >#{msgTitle},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	<select id="selectByAccountId" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM MSG_INFO
		WHERE ACCOUNT_ID=#{accountId} 
	</select>
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM MSG_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM MSG_INFO
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
</mapper>