<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.host.SystemInfoDao">
	<resultMap id="resultMap" type="com.entity.host.SystemInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="ACCOUNT_ID" property="accountId" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="VERSION" property="version" jdbcType="CHAR" />
		<result column="VERSION_DETAIL" property="versionDetail" jdbcType="CHAR" />
		<result column="CPU_NUM" property="cpuNum" jdbcType="CHAR" />
		<result column="YX_DAYS" property="yxDays" jdbcType="CHAR" />
		<result column="CPU_CORE_NUM" property="cpuCoreNum" jdbcType="CHAR" />
		<result column="CPU_XH" property="cpuXh" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,ACCOUNT_ID, ACCOUNT,HOST_NAME, VERSION, VERSION_DETAIL, CPU_NUM, YX_DAYS,CPU_CORE_NUM,CPU_XH,CREATE_TIME
	</sql>
	
	<sql id="queryByParams">
		<if test="accountId != null">
			<![CDATA[ AND ACCOUNT_ID  = #{accountId} ]]>
		</if>
		<if test="account != null">
			<![CDATA[ AND ACCOUNT  = #{account} ]]>
		</if>
		<if test="hostname != null">
			<![CDATA[ AND HOST_NAME = #{hostname} ]]>
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM SYSTEM_INFO WHERE ID = #{id}
	</delete>
	
	<delete id="deleteByAccountAndDate"  parameterType="map">
		DELETE FROM SYSTEM_INFO WHERE  ACCOUNT_ID  = #{accountId}  <![CDATA[ AND CREATE_TIME <=#{endTime}]]>
	</delete>
	
	<delete id="deleteByAccHname"  parameterType="map">
		DELETE FROM SYSTEM_INFO WHERE ACCOUNT = #{account} <![CDATA[ AND HOST_NAME  = #{hostname} ]]>
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM SYSTEM_INFO WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.entity.host.SystemInfo">
		INSERT INTO SYSTEM_INFO
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="accountId != null" >ACCOUNT_ID,</if>
      		<if test="account != null" >ACCOUNT,</if>
      		<if test="hostname != null" > HOST_NAME,</if>
      		<if test="version != null">VERSION,</if>
      		<if test="versionDetail != null" >VERSION_DETAIL,</if>
      		<if test="cpuNum != null" >CPU_NUM,</if>
      		<if test="yxDays != null" >YX_DAYS,</if>
      		<if test="cpuCoreNum != null" >CPU_CORE_NUM,</if>
      		<if test="cpuXh != null" >CPU_XH,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="accountId != null" >#{accountId},</if>
      		<if test="account != null" >#{account},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="version != null" >#{version},</if>
      		<if test="versionDetail != null" >#{versionDetail},</if>
      		<if test="cpuNum != null" >#{cpuNum},</if>
      		<if test="yxDays != null" >#{yxDays},</if>
      		<if test="cpuCoreNum != null" >#{cpuCoreNum},</if>
      		<if test="cpuXh != null" >#{cpuXh},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	<select id="selectByAccountId" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO
		WHERE ACCOUNT_ID=#{accountId} 
	</select>
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
</mapper>