<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.CpuStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.CpuState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="USER" property="user" jdbcType="CHAR" />
		<result column="SYS" property="sys" jdbcType="DOUBLE" />
		<result column="IDLE" property="idle" jdbcType="DOUBLE" />
		<result column="IOWAIT" property="iowait" jdbcType="DOUBLE" />
		<result column="IRQ" property="irq" jdbcType="CHAR" />
		<result column="SOFT" property="soft" jdbcType="CHAR" />
		<result column="DATE_STR" property="dateStr" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, USER, SYS, IDLE,IOWAIT,IRQ,SOFT,DATE_STR,CREATE_TIME
	</sql>
	
	<sql id="queryByParams">
		<if test="hostname != null">
			<![CDATA[ AND HOST_NAME = #{hostname} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
		</if>
	</sql>
	
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM CPU_STATE
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByAccountAndDate"  parameterType="map">
		DELETE FROM CPU_STATE WHERE    <![CDATA[  CREATE_TIME <=#{endTime}]]>
	</delete>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM CPU_STATE
		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		CPU_STATE
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.CpuState">
		INSERT INTO CPU_STATE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" > HOST_NAME,</if>
      		<if test="user != null">USER,</if>
      		<if test="sys != null">SYS,</if>
      		<if test="idle != null">IDLE,</if>
      		<if test="iowait != null">IOWAIT,</if>
      		<if test="irq != null" >IRQ,</if>
      		<if test="soft != null" >SOFT,</if>
      		<if test="dateStr != null" >DATE_STR,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="user != null" >#{user},</if>
      		<if test="sys != null" >#{sys},</if>
      		<if test="idle != null" >#{idle},</if>
      		<if test="iowait != null" >#{iowait},</if>
      		<if test="irq != null" >#{irq},</if>
      		<if test="soft != null" >#{soft},</if>
      		<if test="dateStr != null" >#{dateStr},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	<insert id="insertList" parameterType="java.util.List" >
	      INSERT INTO CPU_STATE (ID,HOST_NAME,USER,SYS,IDLE,IOWAIT,IRQ,SOFT,DATE_STR,CREATE_TIME)  VALUES
	      <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.hostname},#{item.user},#{item.sys},#{item.idle},#{item.iowait},#{item.irq},#{item.soft},#{item.dateStr},#{item.createTime})
	      </foreach>
	 </insert>
	
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM CPU_STATE t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM CPU_STATE
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
	
</mapper>