<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.SystemInfoMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.SystemInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="VERSION" property="version" jdbcType="CHAR" />
		<result column="VERSION_DETAIL" property="versionDetail" jdbcType="CHAR" />
		<result column="MEM_PER" property="memPer" jdbcType="DOUBLE" />
		<result column="CPU_PER" property="cpuPer" jdbcType="DOUBLE" />
		<result column="CPU_CORE_NUM" property="cpuCoreNum" jdbcType="CHAR" />
		<result column="CPU_XH" property="cpuXh" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, VERSION, VERSION_DETAIL, MEM_PER, CPU_PER,CPU_CORE_NUM,CPU_XH,CREATE_TIME,STATE
	</sql>
	
	<sql id="queryByParams">
		<if test="hostname != null">
			<![CDATA[ AND HOST_NAME = #{hostname} ]]>
		</if>
		<if test="memPer != null">
			<![CDATA[ AND MEM_PER >= #{memPer} ]]>
		</if>
		<if test="memPerLe != null">
			<![CDATA[ AND MEM_PER <= #{memPerLe} ]]>
		</if>
		<if test="cpuPer != null">
			<![CDATA[ AND CPU_PER >= #{cpuPer} ]]>
		</if>
		<if test="cpuPerLe != null">
			<![CDATA[ AND CPU_PER <= #{cpuPerLe} ]]>
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM SYSTEM_INFO WHERE ID = #{id}
	</delete>
	
	<delete id="deleteByAccountAndDate"  parameterType="map">
		DELETE FROM SYSTEM_INFO WHERE   <![CDATA[  CREATE_TIME <=#{endTime}]]>
	</delete>
	
	<delete id="deleteByAccHname"  parameterType="map">
		DELETE FROM SYSTEM_INFO WHERE <![CDATA[  HOST_NAME  = #{hostname} ]]>
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM SYSTEM_INFO WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="insertList" parameterType="java.util.List" >
		INSERT INTO SYSTEM_INFO (ID,HOST_NAME, VERSION, VERSION_DETAIL, MEM_PER, CPU_PER,CPU_CORE_NUM,CPU_XH,CREATE_TIME,STATE)  VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.id},#{item.hostname},#{item.version},#{item.versionDetail},#{item.memPer},#{item.cpuPer},#{item.cpuCoreNum},#{item.cpuXh},#{item.createTime},#{item.state})
		</foreach>
	</insert>


	<update id="updateList" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" separator=";" >
		UPDATE SYSTEM_INFO
		<set>
			<if test="item.hostname != null">
				HOST_NAME = #{item.hostname},
			</if>
			<if test="item.version != null">
				VERSION= #{item.version},
			</if>
			<if test="item.versionDetail != null" >
				VERSION_DETAIL= #{item.versionDetail},
			</if>
			<if test="item.memPer != null" >
				MEM_PER= #{item.memPer},
			</if>
			<if test="item.cpuPer != null" >
				CPU_PER= #{item.cpuPer},
			</if>
			<if test="item.cpuCoreNum != null" >
				CPU_CORE_NUM= #{item.cpuCoreNum},
			</if>
			<if test="item.cpuXh != null" >
				CPU_XH= #{item.cpuXh},
			</if>
			<if test="item.state != null" >
				STATE= #{item.state},
			</if>
			<if test="item.createTime != null" >
				CREATE_TIME= #{item.createTime}
			</if>
		</set>
		WHERE ID = #{item.id}
		</foreach>
	</update>

	<insert id="save" parameterType="com.wgcloud.entity.SystemInfo">
		INSERT INTO SYSTEM_INFO
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" > HOST_NAME,</if>
      		<if test="version != null">VERSION,</if>
      		<if test="versionDetail != null" >VERSION_DETAIL,</if>
      		<if test="memPer != null" >MEM_PER,</if>
      		<if test="cpuPer != null" >CPU_PER,</if>
      		<if test="cpuCoreNum != null" >CPU_CORE_NUM,</if>
      		<if test="cpuXh != null" >CPU_XH,</if>
			<if test="state != null" >STATE,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="version != null" >#{version},</if>
      		<if test="versionDetail != null" >#{versionDetail},</if>
      		<if test="memPer != null" >#{memPer},</if>
      		<if test="cpuPer != null" >#{cpuPer},</if>
      		<if test="cpuCoreNum != null" >#{cpuCoreNum},</if>
      		<if test="cpuXh != null" >#{cpuXh},</if>
			<if test="state != null" >#{state},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<update id="updateById" parameterType="com.wgcloud.entity.SystemInfo">
		UPDATE SYSTEM_INFO
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="version != null">
				VERSION= #{version},
			</if>
			<if test="versionDetail != null" >
				VERSION_DETAIL= #{versionDetail},
			</if>
			<if test="memPer != null" >
				MEM_PER= #{memPer},
			</if>
			<if test="cpuPer != null" >
				CPU_PER= #{cpuPer},
			</if>
			<if test="cpuCoreNum != null" >
				CPU_CORE_NUM= #{cpuCoreNum},
			</if>
			<if test="cpuXh != null" >
				CPU_XH= #{cpuXh},
			</if>
			<if test="state != null" >
				STATE= #{state},
			</if>
			<if test="createTime != null" >
				CREATE_TIME= #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	
	<select id="selectByAccountId" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SYSTEM_INFO
	</select>


	<select id="countByParams" parameterType="map"  resultType="java.lang.Integer">
		SELECT count(*)  FROM SYSTEM_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		a.ID,a.HOST_NAME, a.VERSION, a.VERSION_DETAIL, a.MEM_PER, a.CPU_PER,a.CPU_CORE_NUM,a.CPU_XH,a.CREATE_TIME,a.STATE,b.ID as hostId,b.REMARK as hostRemark
		FROM SYSTEM_INFO as a LEFT JOIN HOST_INFO as b ON  a.HOST_NAME = b.IP
		 ORDER BY HOST_NAME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		a.ID,a.HOST_NAME, a.VERSION, a.VERSION_DETAIL, a.MEM_PER, a.CPU_PER,a.CPU_CORE_NUM,a.CPU_XH,a.CREATE_TIME,a.STATE,b.ID as hostId,b.REMARK as hostRemark
		FROM SYSTEM_INFO as a LEFT JOIN HOST_INFO as b ON  a.HOST_NAME = b.IP
		 ORDER BY HOST_NAME ASC
	</select>
	
</mapper>